// Dark only

$dark-primary: #253261;
$dark-secondary: #1F2952;
$dark-tertiary: #10183b;
$dark-app-background: transparent linear-gradient(119deg, #151E41 0%, #10183B 100%) 0% 0% no-repeat padding-box;
$dark-border-bottom: rgb(160 129 129 / 40%);
// Light only

$light: white;
$light-secondary:#F6F9FF;
$light-subtitle:#1F2952;
$light-tertiary:#121A3D;
$light-popup: #F7F7F7;
$light-popup-title:#2D70D0;
$light-title: #151E41;
$light-app-background: #EAF0F8 0% 0% no-repeat padding-box;

// Both themes

$border-blue: #2E86FF;
$subtitle: #BADEFF;