// Dark only

$dark-primary: #253261;
$dark-secondary: #1F2952;
$dark-tertiary: #10183b;
$dark-subtitle: #BADEFF;

// Light only

$light: white;
$light-secondary:#F6F9FF;

// Both themes

$border-blue: #2E86FF;